/* FOOTER TOP */

.ftr--top {

    display: flex;
    align-items: space-evenly;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    
    background-color: rgb(71, 71, 71);
    color: white;

    padding: 20px 0 30px 20px;
}

.ftrTop--block {
    min-width: 60%;
    max-width: 375px;
}

/* footer fonts */
.ftrTop--block h3 {
    font-size: 1.5rem;
    padding:30px 0 20px;
}

.ftrTop--block li,
.ftrTop--block p {
    font-size: 0.9rem;
    padding: 5px;
}

/* payment icons */

.payment-icons img {
    width: 40px;
    height: 40px;
    display: inline;
    margin: 5px;
}

/* retailer--MUST CHECK */

.ftr--top .map-marker-blt::before {
    content: url("icons/map-marker2.svg");
    display: inline-block;
    background-repeat: no-repeat;
    padding-right: 10px;
    width: 20px;
    height: 20px;

}

/* FOOTER BOTTOM */

.ftr--bottom {
    padding: 50px 0;
    text-align: center;
}

.ftrBottom--block {
    display: flex;
    margin: 0 15px 15px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.ftrBottom--block > p{
    font-size: 0.8rem;
}

.ftr--legalLinks {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ftr--legalLinks li {
    font-size: 0.7rem;
    color: rgba(70, 70, 70, 0.856);
    padding: 0 10px;
}  

/* lang picker */
.lang-list {
    text-align: center;
}
.language--Select {
    border: none;
    font-size: 0.8rem;
}

/*fixed back to the top button */

.backtotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.backtotop img {
    height: 50px;
    width: 50px;
}

/* Media query @769 */

@media screen and (min-width: 769px) {

    .ftr--top {
        justify-content: center;
    }

    .ftrTop--block {
        text-align: left;
        min-width: 40%;
        max-width: 345px;
    }
}

/* Media query @990 */

@media screen and (min-width: 990px) {

    .ftr--top {
        justify-content: left;
    }

    .ftrTop--block {
        text-align: left;
        min-width: 25%;
        max-width: 335px;
    }
}