:root {
  --lightGreyBorder: rgba(196, 196, 196, 0.74);
  --darkGreyBorder: rgba(143, 142, 142, 0.452);
  --lightGreyText: rgb(151, 151, 151);
  --darkGreyText: rgb(112, 112, 112);
  --darkGreyBackground: rgb(71, 71, 71);
  --lightGreyBackground: rgba(238, 236, 234, 0.534);
  --myRed: rgb(206, 47, 47);
  --myWhite: rgb(255, 255, 255);
  --myBlack: rgb(0, 0, 0);
}

@font-face {
  font-family: "helvetica-regular";
  src: url("fonts/helvetica-regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "helvetica-bold";
  src: url("fonts/HelveticaNeueBold.woff2") format("woff2");
  font-weight: bold;
}

/* ---------- DEFAULT STYLING ---------- */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "helvetica-regular";
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body h1,
body h2,
body h3 {
  font-family: "helvetica-bold";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  background: none;
  border: none;
}

header,
main {
  margin: 0 13px;
  height: 100%;
}

/* ---------- HEADER STYLING - mobile first ---------- */

header {
  position: relative;
}

.header__logo {
  margin: 48px 0 30px;
}

.header__logo img {
  max-width: 100%;
}

@media (min-width: 380px) {
  .header__logo img {
    max-width: 360px;
  }
}

/* ------ GENERAL NAV BAR CSS ------ */

nav {
  position: relative;
  height: 50px;
  width: 100%;
  z-index: 4;
}

/* -- NAV-LEFT STYLES -- */

/* main nav list */

.nav__list {
  margin-bottom: 10px;
  position: relative;
  top: 30px;
  background-color: var(--myWhite);
}

.nav__list > li > a {
  display: block;
  padding: 15px 5px;
  color: var(--darkGreyText);
}

.nav__list > li:hover > .nav__subnav-list {
  border-top: solid 0.1px var(--lightGreyBorder);
}

.nav__list > li > a:hover,
.nav__list > li > a:focus-within,
.nav__list > li > a:hover:after,
.nav__list > li > a:focus-within:after {
  color: var(--myBlack);
}

/* To add the down-pointing triangle */
.nav__list > li > a::after {
  content: "\23F7";
  color: var(--darkGreyText);
  margin: 0px 5px;
  float: right;
}

/* SUBMENU 1 style */
.nav__subnav-item {
  font-weight: bold;
  display: block;
  padding: 15px 0px 15px 30px;
}

.nav__subnav-item:hover {
  text-decoration: underline;
}

/* SUBMENU 2 style */
.nav__subnav-list li ul a {
  color: var(--darkGreyText);
  font-size: 0.9rem;
  display: block;
  padding: 10px 0px 0px 40px;
  margin-bottom: 3px;
}

.nav__subnav-list li ul {
  margin-bottom: 15px;
  background-color: var(--myWhite);
}

.nav__subnav-list li ul li a:hover {
  background-color: var(--lightGreyBackground);
  color: var(--myBlack);
}

/* BURGER MENU */

/* burger menu hover space */
.burger__icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

/* to layout the burger lines */

.burger__line {
  display: block;
  position: relative;
  top: 10px;
  width: 25px;
  height: 3px;
  background: var(--myBlack);
  transition: 0.2s ease-in-out;
}

.burger__line--top {
  transform: translateY(-5px);
}

.burger__line--bottom {
  transform: translateY(5px);
}

/* to add 'X' animation when burger menu is clicked*/

.burger__checkbox:checked + .burger__icon > .burger__line--top {
  transform: translateY(-2px) rotate(-45deg);
}

.burger__checkbox:checked + .burger__icon > .burger__line--middle {
  transform: translateY(-5px) rotate(45deg);
}

/* to hide the checkbox */
.burger__checkbox {
  display: none;
}

/* adding hover instructions */
.nav__list {
  display: none;
}
.burger__checkbox:checked ~ .nav__list {
  display: block;
}

.nav__subnav-list li {
  display: none;
}

.nav__list > li:hover ul > li {
  display: block;
}

/* -- MENU ON THE RIGHT -- */

/* to display menu-icon into column on the right */
.menu--right {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

/* menu-icon spacing */
.menu__container {
  margin: 0px 10px;
  cursor: pointer;
}

/* to define icon size */
.menu__container img {
  width: 28px;
}

/* MENU SEARCH BAR */

.menu__searchBar label {
  cursor: pointer;
}

.menu__searchBar input[type="checkbox"] {
  display: none;
}

/* setting layout for the search box */
.menu__searchBar__box {
  position: absolute;
  top: -7px;
  right: 200px;
  width: 250px;
  height: 40px;
  opacity: 0;
  transition: opacity 500ms;
  visibility: hidden;
}

/* to make search bar appear and disappear on click */
#menu__searchBar__toggle:checked ~ .menu__searchBar__box {
  visibility: visible;
  opacity: 1;
}

.menu__searchBar__box input {
  position: relative;
  height: 100%;
  width: 100%;

  padding: 0 40px 0 10px;
  color: var(--lightGreyText);
  border: var(--lightGreyBorder) 1px solid;
}

/* to position the search icon inside the box */
.menu__searchBar__box label {
  position: absolute;
  top: 7px;
  right: -46px;
}

/* MENU CONTACTS -- appears on hover */

/* to create the clip path shape to the inner fill and its border */
.menu__contacts__inner,
.menu__contacts__outer {
  clip-path: polygon(
    58% 20%,
    50% 13%,
    42% 20%,
    0% 20%,
    0% 100%,
    100% 100%,
    100% 20%
  );
  border-radius: 5px;
}

/* To add position and style the border on a clip path */
.menu__contacts__outer {
  content: "";
  background: var(--darkGreyBorder);
  width: 225px;
  height: 225px;

  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
}

/* to position and style the contacts menu */
.menu__contacts__inner {
  position: relative;
  left: 1px;
  top: 2px;

  background-color: var(--myWhite);
  width: 193px;
  height: 157px;
  padding: 60px 15px 5px 15px;
}

/* Styling the contents of Contacts */

.menu__contacts__inner a {
  display: block;
  font-size: 0.8rem;
  padding-top: 10px;
}

.menu__contacts__inner a:not(:first-child) {
  color: var(--darkGreyText);
  font-weight: bold;
}

.menu__contacts__inner a:not(:first-child):hover {
  color: var(--lightGreyText);
  cursor: pointer;
}

/* to create a line break and style the contact span */
.menu__contacts--lineBreak {
  display: block;
  font-size: 0.7rem;
  font-weight: normal;
  padding-top: 3px;
}

/* adding line divider in between Contacts contents */
.menu__contacts--lineBreak:not(span.span--end) {
  border-bottom: solid 1px var(--lightGreyBorder);
  padding-bottom: 10px;
}

/* setting hover rule  */

.menu__contacts:hover > .menu__contacts__outer {
  display: block;
}

.menu__contacts__outer {
  display: none;
}

/* LOGIN popUp */

/* setting the login popup overlay */
.menu__popUp--overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.267);
  opacity: 0;
  transition: ease-in-out 500ms;
  visibility: hidden;
  cursor: auto;
  z-index: 6;
}

.menu__popUp--overlay:target {
  visibility: visible;
  opacity: 1;
}

/* setting popup box */
.menu__popUp {
  background: var(--myWhite);
  box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  max-width: 730px;
  position: relative;
  margin: 50px auto;
  padding-inline: 15px;
}

.menu__popUp,
.menu__popUp__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu__popUp__form:not(div.field) {
  border-top: 0.2px solid var(--lightGreyBorder);
  border-bottom: 0.2px solid var(--lightGreyBorder);
}

/* popUp heading style */
.menu__popUp h4 {
  font-weight: normal;
  padding: 20px 0;
}

/* login popUp form styles */

.menu__popUp__form label {
  font-size: 0.9rem;
  padding: 20px 0 10px;
}

.menu__popUp__form input {
  border: 0.2px solid var(--darkGreyBorder);
  height: 30px;
}

/* adding asterics for required input */
.label--required::after {
  content: "\002A";
  color: rgb(206, 47, 47);
  padding: 0 4px;
}

/* Login other option styles */

.menu__login__otherOptions > a {
  color: var(--darkGreyText);
  padding-right: 20px;
}

/* adding right angle quotation mark */
.menu__login__otherOptions a::before {
  content: "\00BB";
  font-size: 2rem;
  display: inline-block;
  transform: translateY(2px);
}

/* otherOption hover effect */
.menu__login__otherOptions a:hover {
  color: var(--lightGreyText);
  text-decoration: underline;
}

/* Login popUp button specific style */
.menu__popUp__form .btn--dark {
  margin: 15px 0 20px;
}

.menu__popUp__form .btn--dark {
  width: 100px;
}

.menu__login__encryption {
  padding: 10px 20px 20px 20px;
}

/* add lock icon before encryption text */
.menu__login__encryption::before {
  content: url(icons/lock-icon.svg);
  display: inline-block;
  transform: scale(0.7) translateY(10px);
}

/* exit button */
.menu__exit__btn {
  position: absolute;
  top: 20px;
  right: 20px;

  font-size: 20px;
  text-decoration: none;
  color: var(--lightGreyText);
}

.menu__exit__btn:hover,
.menu__exit__btn:focus-within {
  color: var(--myBlack);
}

/* Shopping basket */

.menu__basket__box {
  position: absolute;
  left: -90px;
  top: -45px;

  background-color: var(--myWhite);
  width: 240px;
  height: 100px;
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  display: none;
}

.menu__container.menu__basket:hover > .menu__basket__box {
  display: block;
}

.menu__basket__box h4 {
  font-size: 1.3rem;
  font-weight: normal;
  padding: 0 0 10px 25px;
}

.menu__basket__box img {
  position: absolute;
  top: 45px;
  right: 9px;
}

.menu__basket__box p {
  text-align: center;
  line-height: 25px;
}
