/* -------- MAIN STYLING - mobile first --------*/

/*  CONTAINER styles */
.main__section {
  border-bottom: 1px solid var(--lightGreyBorder);
  padding: 15px 0 20px;
}

/* BUTTON styles */
.btn {
  margin: 30px 0px 20px;
  font-size: 0.9rem;
  padding: 15px 15px;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn--dark {
  background-color: var(--myBlack);
  color: var(--myWhite);
}

.btn--dark:hover {
  background-color: var(--darkGreyBackground);
}
.btn--light {
  background-color: rgba(223, 223, 223, 0.637);
  color: var(--myBlack);
  border: solid var(--myBlack) 1px;
}

/* section image styles */

.section__img {
  width: 100%;
  height: auto;
}

/* heading and paragraph styles */

.section__content h2 {
  line-height: 45px;
  font-size: 2rem;
  margin: 40px 0 40px;
}

.section__content h3 {
  font-size: 1.7rem;
  margin: 30px 0 30px;
}

.section__content p,
.section__content ul {
  font-size: 1rem;
  margin-bottom: 10px;
  line-height: 23px;
}

/* specific heading and paragraph styles for the banner */

.section__content--banner > h2 {
  font-size: 2.2rem;
  padding: 15px 0 15px;
}

.section__content--banner > p {
  font-size: 1.3rem;
}

/* inline text span styles */
.section__inline--bold {
  font-weight: bold;
}

/* Section content lists styles */
.section__list li {
  list-style: outside;
  margin-left: 40px;
}

/* VIDEO style and positionning */

.section__video {
  width: 100%;
}

.section__video--wrapper {
  grid-column: 1 / span 2;
}

.section__video--heading {
  font-size: 2.2rem;
  padding: 10px 0 15px;
}

/* Newsletter email registration style */

.section__newsletter {
  border: solid var(--lightGreyBorder) 1px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 7px -1px var(--lightGreyBorder);
  max-width: 300px;
  height: 50px;

  display: flex;
  justify-content: space-around;
}

.section__newsletter input {
  border: none;
  background-color: transparent;
}

.section__newsletter input::placeholder {
  font-size: 0.8rem;
  color: var(--lightGreyText);
}

/* pre-ftr social media links */

.main__section--socials {
  text-align: center;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__content--socials > h2 {
  margin-bottom: 10px;
}

/* Section shield check bullet points */

.section__shield-check {
  padding-bottom: 100px;
}

.section__shield-check li {
  padding: 10px 0;
}

.section__shield-check li::before {
  content: "";
  background: url("/icons/footer/shield-checkmark.svg");
  background-repeat: no-repeat;
  display: inline-block;

  height: 2rem;
  width: 2rem;
  padding: 0 5px;
  transform: translateY(10px);
}

/* --------FOOTER STYLES -- mobile - first --------- */

/* FOOTER TOP */

.ftr--top {
  display: flex;
  align-items: space-evenly;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;

  background-color: var(--darkGreyBackground);
  color: var(--myWhite);

  padding: 20px 0 30px 20px;
}

.ftr--top__block {
  min-width: 60%;
  max-width: 375px;
}

/* footer text styles*/
.ftr--top__block h3 {
  font-size: 1.5rem;
  padding: 30px 0 20px;
}

.ftr--top__block li,
.ftr--top__block p {
  font-size: 0.9rem;
  padding: 5px 5px 5px 0;
}

.ftr--top__block a:hover {
  text-decoration: underline;
}

/* payment icons */

.payment-icons img {
  width: 40px;
  height: 40px;
  display: inline;
  margin: 5px;
}

/* adding map marker to 'retailers' */

.ftr--top__block .ftr--top__mapMarker::before {
  content: url("icons/footer/map-marker2.svg");
  display: inline-block;
  background-repeat: no-repeat;
  padding-right: 10px;
  width: 20px;
  height: 20px;
}

/* FOOTER BOTTOM */

.ftr--bottom {
  padding: 50px 0;
  text-align: center;
}

.ftr--bottom__block {
  display: flex;
  margin: 0 15px 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.ftr--bottom__block > p {
  font-size: 0.8rem;
}

.ftr--bottom__legal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ftr--bottom__legal li {
  font-size: 0.7rem;
  color: var(--darkGreyText);
  padding: 0 10px;
}

/* language picker */
.ftr--bottom__langList {
  text-align: center;
}
.language__select {
  border: none;
  font-size: 0.8rem;
}

/*fixed 'back to the top' button */

.ftr__backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.ftr__backToTop img {
  height: 50px;
  width: 50px;
}
