// Preposessor Rules

// text colours //
$nav-greytxt: rgb(151, 151, 151);
$nav-lightergrey: rgba(238, 236, 234, 0.534);
$nav-texthover: black;

/* ---------- DEFAULT STYLING ---------- */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0 13px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    background: none;
    border: none;
}

/* ---------- HEADER STYLING ---------- */


h1 {
    padding:  48px 0 38px;
}

h1 img {
    width: 360px;
}


/* nav bar */

nav {
    height: 60px;
}

/* To position the Nav-icons to the right of nav bar */
.nav-right {
    display: flex;
    position:absolute;
    right: 0px;
    top: 150px;
}

.nav-icon {
    margin: 0px 10px;
}

.nav-icon img {
    width: 28px;
}

// Hidden nav bar

.nav-icon ul {
    display: none;
}

.nav-icon input {
    display: none;
}



@media screen and (max-width: 1025px) {

    /* Nav links */

    .nav-left * {
        box-sizing: border-box;
        background-color: white;
    }

    // TESTING TO MAKE THIS HOVER WORK
    .nav-left {
        width: 25px;
        height: 25px;
        position: absolute;
    }

    /* For the down-pointing triangle */

    .nav-left > ul > li > a::after {
        content: "\23F7";
        color: $nav-greytxt;
        margin: 0px 5px;
        float: right;
    }

    .nav-left > ul > li > a {
    display: block;
    padding: 15px 0px;

    color: $nav-greytxt;
    
    }

    .nav-left > ul {
        position: relative;
        width: 96vw;
        top: 0px;
        padding-bottom: 10px;
    }



    // To make text black when the link is hovered
    .nav-left > ul > li > a:hover {
        color: $nav-texthover;
    }

    // To add top border to the submenu when it is active
    .nav-left > ul > li:hover > ul {
        border-top: solid 0.1px rgba(216, 216, 216, 0.836);
    }


    // Adding styles to the submenu

    .nav-left .submenu-title {
        display: block;
        padding: 10px 0px 10px 35px;
        font-weight: bold;
    }

    .nav-left .submenu-title:hover {
        text-decoration: underline;
    }


    .nav-left ul li ul li ul li a {
        color: $nav-greytxt;
        font-size: 0.8rem;
        display: block;
        display: flex;
        align-items: flex-end;
        padding: 10px 0px 3px 3px;
        margin-bottom: 3px;
        margin-left: 45px;
    }

    .nav-left ul li ul li ul li a:hover {
        background-color: $nav-lightergrey;
        color: black;
    }

    .nav-left .test li ul li {
        display: none;
    }

    .nav-left ul {
        display: none;
    }

    
    /* burger menu */

    .burger-menu {
        background: none;
        width: 30px;
        height: 25px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .nav-left:hover > .test {
        display: block;
    }

    
    // To display submenu when main is hovered
    .nav-left .test li:hover ul > li {
        display: block;
    }

    .burger {
        display: block;
        position: relative;
        top: 0px;
    }
    
    .burger,
    .burger::before,
    .burger::after {
        width: 25px;
        height: 3px;
        background: #000000;
    }
     
    .burger::before,
    .burger::after {
        content: '';
        position: absolute;
        left: 0;
    }
    
    .burger::before {
        transform: translateY(8px);
    }
    
    .burger::after {
        transform: translateY(-8px);
    }



}

// MAIN

main {
  top: 20%;
}